*{
    font-family:Tahoma;
}

h1.subject {
    text-align:center;
}



table.sanbong {
    border-collapse: collapse;
    width: 100%;
}

/* Make the navbar sticky */
.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Highlight active nav-link */
.nav-link.active {
  font-weight: bold;
  color: #ff0000 !important;
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}

.fixed-width {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px; /* Bạn có thể điều chỉnh độ rộng phù hợp */
}
