{% extends 'layout/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
    <h1 class="subject">Đặt sân trực tuyến</h1>
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="{{ url_for('index', page=1) }}">1</a></li>
          <li class="page-item"><a class="page-link" href="{{ url_for('index', page=2) }}">2</a></li>
        </ul>

        {% if sanbongs %}
        <div class="row">
            {% for sb in sanbongs %}
            <div class="col-md-6 col-xs-12" style="padding:10px">
                <div class="card">
                  <img class="card-img-top" src="{{ url_for('static', filename=sb.image) }}" alt="{{ sb.name }}">
                  <div class="card-body">
                    <h4 class="card-title">{{ sb.name }}</h4>
                    <p class="card-text">{{ "{:,.1f}".format(sb.price) }} VND/h</p>
                    <a href="{{ url_for('datsan', sb_id = sb.id) }}" class="btn btn-primary">Đặt sân</a>
                  </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p><i>Không có sân bóng nào!!!</i></p>
        {% endif %}

{% endblock %}