{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<div class="table-responsive-sm">
<!--    <h4>Danh sách người dùng</h4>-->
<!--    <h4><a href="{{ url_for('userview.index')}}">Danh sách người dùng</a></h4>-->
<!--    <h4><a href="{{ url_for('userview.blacklist')}}">Danh sách đen</a></h4>-->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('userview.index')}}">Tất cả</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('userview.blacklist')}}">Danh sách đen</a>
      </li>
    </ul>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Họ tên</th>
          <th>Tài khoản</th>
          <th>Email</th>
          <th>Số điện thoại</th>
          <th>Số lượng biên lai 'Bùng'</th>
        </tr>
      </thead>
      <tbody>
        {% for user, bung_count in users %}
        <tr>
          <td><a href="{{ url_for('userview.profile_user', u_id = user.id) }}">{{ user.name }}</a> </td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.phone }}</td>
          <td>{{ bung_count }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% else %}
    <h1 class="text-center text-danger">Đăng nhập quản trị</h1>
    <form method="post" action="{{ url_for('admin_signin') }}">
        <div class="form-group">
            <label for="username">Tài khoản</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="pass">Mật khẩu</label>
            <input type="password" class="form-control" id="pass" name="password">
        </div>
        <input type="submit" value="Đăng nhập" class="btn btn-danger">
    </form>
{% endif %}
{% endblock %}